<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/newpassword">
<label for='password'>password</label>
  <input type="password" name="password">
  <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
  <input type="submit">
  </form>
</body>
</html>